<nav>
  <a href="/">Home</a>&nbsp;&nbsp; <a href="/menu">Full Menu</a>&nbsp;&nbsp;
  <a href="/menu/mains">Mains</a>&nbsp;&nbsp;
  <a href="/menu/desserts">Desserts</a>&nbsp;&nbsp;
  <a href="/menu/sides">Sides</a>
</nav>
